<!-- Footer -->
<footer class="footer mt-4 pt-4 mb-0">
    <div class="footer-top">
        <div class="container">
            <div class="row1">
                <div class="col-lg-4">
                    <h4 class="navbar-brand">Calc Technologies<span class="dot">.</span></h4>
                    <p>Calc Technologies is a Indian based company offering unique solutions and a variety of
                        services.</p>
                </div>
            </div>
            <hr>
        </div>
    </div>

    <div class="footer-bottom text-center">
        <p class="pb-2 mb-0"> Copyright@2022 CalcTechnologies. All rights Reserved.</p>
    </div>
</footer>